*{
    margin: 0;
    padding: 0;
}
.bg-image{
    background-position: center;
    background-size: cover;
}
.myfont{
    font-family: 'lora', sans-serif;
    color: #444;
}
.myfont h1{
    font-size: 91px;
}